@import '../../Fonts.css';

.choiceContener {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto auto;
  width: 100vw;
}

.searchText {
  font-family: var(--second-font-family);
  margin-top: 10px;
  background-image: url('../../../assets/search.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

.searchButton {
  background-color: var(--black);
  font-family: var(--second-font-family);
  color: var(--yellow);
  border: none;
}
