@import '../../Fonts.css';

.optionChoice {
  height: 70vh;
  width: 100vw;
  background-color: var(--dark-grey);
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--yellow);
  align-items: center;
}
.optionChoice h1 {
  margin-top: 5vh;
  font-family: var(--main-font-family);
  font-size: x-large;
  color: var(--light-yellow);
}
.handicapChoice {
  display: flex;
  flex-direction: column;
}
.choiceForm {
  display: flex;
  flex-direction: column;
  background-color: var(--light-grey);
  color: var(--black);
  font-family: var(--second-font-family);
  width: 80vw;
}
.firstFormLine {
  display: flex;
  justify-content: flex-end;
}
.firstFormLine p {
  width: 13vw;
  text-align: center;
  margin: 0.5vh 0;
}
.formLine {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0.2vh 0;
}
.formFirstColumn {
  height: 3vh;
  margin: 0;
  color: var(--dark-grey);
}
.formInput input {
  margin: 0 5vw;
}
@media screen and (min-width: 768px) {
  .optionChoice {
    width: 60vw;
  }
}
