@import '../../Fonts.css';

.fightingAnnouncement {
  background-color: var(--black);
  color: var(--light-yellow);
  font-family: var(--main-font-family);
  font-size: 24px;
  margin: 2vh 0;
  padding: 20px;
  text-align: center;
}

.fightingAction {
  background-color: var(--dark-grey);
  color: var(--light-grey);
  font-family: var(--second-font-family);
  padding: 10px;
}

.fightingResult {
  background-color: var(--yellow);
  color: var(--black);
  font-size: 20px;
  font-family: var(--main-font-family);
  margin: 2vh 0;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}
