@import '../../Fonts.css';

.teamContainer {
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: row;
  width: 49vw;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px 0;
}

.heroPicture {
  height: 12vh;
  width: auto;
}
