@import '../../Fonts.css';

.launchFightButton {
  border: solid 1px var(--dark-grey);
  box-shadow: 5px 5px 10px var(--dark-grey);
  color: var(--black);
  cursor: pointer;
  font-family: var(--main-font-family);
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  border-radius: 10rem;
  display: inline-block;
  transition: all 0.3s;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.launchFightButton::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--yellow);
  border-radius: 10rem;
  z-index: -2;
}

.launchFightButton::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--light-yellow);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

.launchFightButton:hover::before {
  width: 100%;
}

.launchFightButtonDark {
  border: solid 1px var(--dark-grey);
  box-shadow: 5px 5px 10px var(--dark-grey);
  color: var(--yellow);
  cursor: pointer;
  font-family: var(--main-font-family);
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 25px;
  border-radius: 10rem;
  display: inline-block;
  transition: all 0.3s;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.launchFightButtonDark::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  border-radius: 10rem;
  z-index: -2;
}

.launchFightButtonDark::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--middle-grey);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

:hover::before {
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 100vw;
  display: flex;
  justify-content: center;
}


@media screen and (min-width: 768px) {
  .container {
    margin: 2em auto 0 auto;
  }  
}
