@import '../../Fonts.css';

.launchFightButton {
  background-color: var(--yellow);
  border: solid 1px var(--dark-grey);
  box-shadow: 5px 5px 10px var(--dark-grey);
  color: var(--black);
  cursor: pointer;
  font-family: var(--main-font-family);
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  padding: 10px 20px;
  text-align: center;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 100vw;
  justify-content: center;
}
