@import '../../Fonts.css';

.charactersCard {
  display: flex;
  justify-content: space-between;
  height: 20vh;
  margin: 0 auto;
  width: 65vw;
  padding: 10px;
  background-color: var(--dark-grey);
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.name {
  font-family: var(--second-font-family);
  color: var(--light-yellow);
  text-align: center;
  padding: 0;
  margin: 0;
}

.button {
  border: solid 1px var(--dark-grey);
  box-shadow: 5px 5px 10px var(--dark-grey);
  color: var(--black);
  cursor: pointer;
  font-family: var(--second-font-family);
  font-weight: bold;
  text-align: center;
  border-radius: 10rem;
  display: inline-block;
  transition: all 0.3s;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--yellow);
  border-radius: 10rem;
  z-index: -2;
}

.button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--light-yellow);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

.button:hover::before {
  width: 100%;
}

:hover::before {
  width: 100%;
}
