@import '../../Fonts.css';

.hero-card {
  align-items: center;
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
}

.hero-name {
  background-color: var(--black);
  color: var(--light-yellow);
  font-family: var(--main-font-family);
  font-size: 20px;
  max-width: 450px;
  padding: 5px;
  text-align: center;
  width: 45vw;
}

.hero-picture {
  height: auto;
  max-width: 480px;
  width: 50vw;
}
