@import '../../Fonts.css';

.heroCard {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 30vh;
}

.heroPicture {
  height: 100%;
  object-fit: cover;
  width: 100%;
  margin: 1vh 4vw;
}

@media screen and (min-width: 768px) {
  .heroPicture {
    height: 40vh;
    width: auto;
  }
}
