@import '../../Fonts.css';

.fight-title {
  text-align: center;
  font-family: var(--main-font-family);
}

.heroes-display {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 50vw;
}

.fighting-report {
  width: 50vw;
  margin: 10px auto;
}

.fighting-announcement {
  text-align: center;
  font-size: 24px;
  padding: 20px;
  font-family: var(--main-font-family);
  background-color: var(--black);
  color: var(--light-yellow);
}

.fighting-action {
  padding: 10px;
  color: var(--light-grey);
  background-color: var(--dark-grey);
  font-family: var(--second-font-family);
}

.fighting-result {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  padding: 20px;
  font-family: var(--main-font-family);
  background-color: var(--black);
  color: var(--light-yellow);
}
