@import '../../Fonts.css';

.teamTitle {
  color: var(--yellow);
  margin: 0 auto;
  background-color: var(--black);
  text-align: center;
  padding: 0 0;
  font-family: var(--main-font-family);
}

.bigbutton {
  width: 100vw;
  height: 5vh;
  margin: 40px auto;
  font-size: large;
  color: var(--yellow);
}

.choiceContener {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto auto;
  width: 100vw;
}

.searchText {
  font-family: var(--second-font-family);
  margin-top: 10px;
  background-image: url('../../../assets/search.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

.searchButton {
  background-color: var(--black);
  font-family: var(--second-font-family);
  color: var(--yellow);
  border: none;
}
