@import '../../Fonts.css';

.teamTitle {
  color: var(--yellow);
  margin: 0 auto;
  background-color: var(--black);
  text-align: center;
  padding: 0 0;
  font-family: var(--main-font-family);
}

.choiceContener {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto auto;
  width: 100vw;
}

.searchText {
  font-family: var(--second-font-family);
  margin-top: 10px;
  background-image: url('../../../assets/search.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

.searchButton {
  background-color: var(--black);
  font-family: var(--second-font-family);
  color: var(--yellow);
  border: none;
}

.teamsContainer {
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

.buttonContainer {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.launchFightButton {
  border: solid 1px var(--dark-grey);
  box-shadow: 5px 5px 10px var(--dark-grey);
  color: var(--black);
  cursor: pointer;
  font-family: var(--main-font-family);
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  border-radius: 10rem;
  display: inline-block;
  transition: all 0.3s;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.launchFightButton::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--yellow);
  border-radius: 10rem;
  z-index: -2;
}

.launchFightButton::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--light-yellow);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

.launchFightButton:hover::before {
  width: 100%;
}

:hover::before {
  width: 100%;
}
