.gameLaunch {
  background-image: url('./../assets/Fight-Image1.jpg');
  background-position: center;
  background-size: cover;
  color: #202020;
  cursor: pointer;
  font-size: 3.4vh;
  font-family: 'Kumar One', cursive;
  height: 40vh;
  text-shadow: 0px 0px 6px wheat;
  width: 60vw;
  margin-top: 17vh;
}
