.charactersCard {
  height: 60%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.detailImage {
  width: 55%;
  height: 100%;
  object-fit: cover;
}
.detailStats {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.detailStats p {
  margin: 0;
}
.detailStats h2 {
  margin: 0 0 1vh 0;
}
.detailStats h3 {
  margin: 0;
}
