.charactersCard {
  color: #202020;
  display: flex;
  font-family: 'Chakra Petch', sans-serif;
  justify-content: space-between;
  height: 60%;
  width: 90%;
}
.detailImage {
  height: 100%;
  object-fit: cover;
  width: 55%;
}
.detailStats {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 40%;
}
.detailStats p {
  font-size: 0.7em;
  margin: 0;
}
.detailStats h2 {
  font-family: 'Kumar One', cursive;
  font-size: 1.2em;
  margin: 0 0 1vh 0;
}
.detailStats h3 {
  font-size: 1em;
  margin: 0;
}
