@import '../Fonts.css';

.fighting-component {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.fight-title {
  text-align: center;
}

.heroes-display {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 50vw;
}

.endgame-choice {
  display: flex;
  justify-content: space-around;
  margin: 0 auto 20px auto;
  background-color: var(--light-grey);
  width: 100vw;
}

.endgame-choice-button {
  background-color: var(--dark-grey);
  border-radius: 25px;
  color: var(--yellow);
  cursor: pointer;
  font-family: var(--second-font-family);
  font-size: large;
  font-weight: bold;
  padding: 20px;
}
