@import '../../Fonts.css';

.container {
  width: 50vw;
  text-align: center;
}

.title {
  padding: 0;
  margin: 0;
  font-family: var(--main-font-family);
}

.member {
  padding: 0;
  margin: 0;
  font-family: var(--second-font-family);
}
