@import '../../Fonts.css';

.container {
  width: 50vw;
  border: solid var(--light-grey);
  padding-bottom: 5px;
  font-family: var(--second-font-family);
  background-color: var(--dark-grey);
  color: var(--yellow);
  text-align: center;
}

.title {
  padding: 0;
  margin: 0;
}

.member {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .container {
    width: 30vw;
  }
}
