.footer {
  align-items: center;
  background-color: var(--dark-grey);
  bottom: 0;
  font-family: var(--second-font-family);
  height: 20px;
  position: fixed;
  width: 100vw;
  z-index: 5;
}

.hfooter {
  color: var(--yellow);
  margin: auto;
  text-align: center;
  color: var(--yellow);
  text-decoration: none;
}
