.mainContainer {
  display: grid;
  grid-template-rows: 15vh 80vh 5vh;
  background-color: #d6d6d6;
  grid-template-areas: 'header' 'bodyContainer' 'footer';
  margin: 0;
}

Footer {
  grid-area: footer;
}

Header {
  grid-area: header;
}
