@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Kumar+One&display=swap');

.app {
  margin: -10px;
}

.mainContainer {
  background-color: var(--light-grey);
  display: grid;
  grid-template-rows: 15vh 80vh 5vh;
  grid-template-areas: 'header' 'bodyContainer' 'footer';
  margin: 0;
}

Footer {
  grid-area: footer;
}

.bodyContainer {
  align-items: center;
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  grid-area: bodyContainer;
  justify-content: flex-start;
}

Header {
  grid-area: header;
}
