:root {
    --main-font-family: 'Kumar One', cursive;
    --second-font-family: 'Chakra Petch', sans-serif; 
    --light-grey: #D6D6D6;
    --light-yellow: #FFEE32;
    --yellow: #FFD100;
    --black: #202020;
    --dark-grey: #333533;
}