:root {
  --main-font-family: 'Kumar One', cursive;
  --second-font-family: 'Chakra Petch', sans-serif;
  --light-grey: #d6d6d6;
  --light-yellow: #ffee32;
  --yellow: #ffd100;
  --black: #202020;
  --dark-grey: #333533;
  --middle-grey: #464746;
}
